.container {
  margin: 0px auto;
  max-width: 1710px;
}

body {
  margin: 0;
  background-color: #f2f2f2f2;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../image/Scroll Group 1.png");
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: cover;
}

header .left {
  margin: 25px 50px;
}

header .left img {
  width: 80px;
  height: 63px;
}

header .right {
  margin: 25px 50px;
}

header .right a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header .right .lg {
  background-color: #ba131a;
  padding: 5px 20px;
  margin-left: 15px;
  border-radius: 10px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container h1 {
  color: #ba131a;
  font-size: 83px;
  margin: 30px 0;
}

main .container form {
  color: #012e6f;
}

main .container form label {
  font-weight: bold;
  font-size: 30px;
}

main .container form input[type="text"],
main .container form input[type="password"],
main .container form input[type="email"],
main .container form input[type="date"] {
  border: 2px solid #012e6f;
  width: 614px;
  height: 86px;
  border-radius: 14px;
  font-size: 30px;
  font-family: sans-serif;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

main .container form input[type="submit"] {
  border: none;
  background-color: #ba131a;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  border-radius: 14px;
  margin: 0px 220px;
}

main .container form .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container form .center input[type="submit"] {
  color: #fff;
  width: 199px;
  height: 62px;
  background-color: #ba131a;
  font-size: 29px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

main .container form .center .register {
  padding-top: 50px;
}

main .container form .center span,
main .container form .center a {
  font-size: 25px;
  padding-top: 0;
}

main .container form .center a {
  color: #012e6f;
  font-weight: bold;
  padding-left: 15px;
}
/*# sourceMappingURL=changepw.css.map */