@import "_variables";
.container {
  margin: 0px auto;
  max-width: 1710px;
}
body {
  margin: 0;
  background-color: #d8d8d8;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../image/Scroll\ Group\ 1.png");
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: cover;
  .hleft {
    margin: 25px 50px;
    img {
      width: 80px;
      height: 63px;
    }
  }
  .hright {
    margin: 25px 50px;
    a {
      font-size: 20px;
      color: white;
      text-decoration: none;
      font-weight: bolder;
    }
    .lg {
      background-color: $primary-color2;
      padding: 5px 20px;
      margin-left: 15px;
      border-radius: 10px;
    }
  }
}
.container {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    margin-bottom: -23px;
    h3 {
      background-color: $primary-color2;
      padding: 25px 55px;
      color: white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-size: 25px;
    }
    .back {
      i,
      a {
        font-size: 25px;
        text-decoration: none;
        color: $primary-color1;
        padding-right: 5px;
      }
    }
  }
  .content {
    background-color: #ffffff;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: $primary-color2;
      text-align: center;
      padding: 20px 0px;
      font-size: 50px;
    }
    .tdoutput {
      color: #656566;
      font-size: 30px;
      font-weight: normal;
      font-style: italic;
    }
    td {
      color: $primary-color1;
      padding: 40px 0 20px 135px;
      font-size: 30px;
      font-weight: bold;
    }
    .inside {
      height: 800px;
      background-color: #ffffff;
      .box {
        width: 1000px;
        height: 662px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 4px solid $primary-color1;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      button {
        color: #ffffff;
        background-color: $primary-color2;
        border-radius: 34px;
        padding: 15px 20px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
