@import "_variables";
.container {
  margin: 0px auto;
  max-width: 1710px;
}
body {
  margin: 0;
  background-color: #d8d8d8;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../image/Scroll\ Group\ 1.png");
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: cover;
  .hleft {
    margin: 25px 50px;
    img {
      width: 80px;
      height: 63px;
    }
  }
  .hright {
    margin: 25px 50px;
    a {
      font-size: 20px;
      color: white;
      text-decoration: none;
      font-weight: bolder;
    }
    .lg {
      background-color: $primary-color2;
      padding: 5px 20px;
      margin-left: 15px;
      border-radius: 10px;
    }
  }
}
.container {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    margin-bottom: -23px;
    h3 {
      background-color: $primary-color1;
      padding: 25px 55px;
      color: white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-size: 25px;
    }
    .back {
      i,
      a {
        font-size: 25px;
        text-decoration: none;
        color: $primary-color1;
        padding-right: 5px;
      }
    }
  }
  .content {
    background-color: #ffffff;
    margin-top: -46px;
    h1 {
      color: $primary-color2;
      text-align: center;
      padding: 20px 0px;
    }
    .unpaid {
      .note {
        color: $primary-color2;
        margin-left: 10%;
      }
      .ticket {
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 20px;
        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border: 2px solid $primary-color1;
          border-radius: 20px;
          margin-bottom: 20px;
          div {
            padding: 0px 10px;
            margin: 0px 100px;
            h4 {
              color: $primary-color1;
            }
            h2 {
              color: $primary-color2;
            }
          }
          button {
            color: #ffffff;
            background-color: #707070;
            border-radius: 15px;
            padding: 15px 20px;
            border: none;
            font-size: 20px;
            font-style: italic;
          }
        }
      }
    }
  }
}
